# .pyc file
*.pyc

# jpg, png, jpeg, gif
*.jpg
*.png
*.jpeg
*.gif
*.GIF

# ide project setting files
.idea/

# local shell scripts
*_local.sh

# mac os ignore files
.DS_Store
lib/.DS_Store
out/.DS_Store
